{% extends "base.html" %}

{% block title %} Log-in {% endblock %}

{% block content %}
    <h1>Log-in</h1>
    {% if form.errors %}
        <p>
            Your username and password didn't match.
            Please try again.
        </p>
    {% else %}
        <p>
            Please, use the following form to log in. If you don't have an account, <a href="{% url 'timehutBlog:register' %}">register here</a>
        </p>
        <div class="login-form">
            <form action="{% url 'timehutBlog:login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}

                <!--
                The next parameter has to be a URL. If this parameter is given, the Django login view
                will redirect to the given URL after the user logs in.
                for example. http://127.0.0.1:8000/account/login/?next=/account/
                -->
                <input type="hidden" name="next" value="{{ next }}">
                <p>
                    <input type="submit" value="Log In">
                </p>
            </form>
            <p><a href="{% url 'timehutBlog:password_reset' %}">Forgotten your password?</a></p>
        </div>
    {% endif %}
{% endblock %}